
<footer class="container-fluid">
        
    <span class="glyphicon glyphicon-copyright-mark"></span> 2016 All Captured in a Flash

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://cdn.pannellum.org/2.2/pannellum.js"></script>

<script type="text/javascript">

    pannellum.tour = function(firstScene,scenes,renderid){
        pannellum.viewer(renderid, {   
            "default": {
                "firstScene": firstScene,
                "type": "equirectangular",
                "author": "All Captured in a Flash",
                "sceneFadeDuration": 1000,
                "autoRotate": -0.25,
                "autoLoad": true,
                "showFullscreenCtrl": true,
                "hotSpotDebug":true
            },

            "scenes": scenes
            
        });
    };

    pannellum.sphere = function(panorama,renderid){
        pannellum.viewer(renderid, {
            "type": "equirectangular",
            "panorama": panorama,
            "autoRotate": -0.25,
            "autoLoad": true,
            "showFullscreenCtrl": true

        });
    };
    
    $('[data-panorama]')
        .on('shown.bs.modal',function(ev){
            pannellum.sphere($(ev.target).attr('data-panorama'),$(ev.target).attr('data-renderid'));
        });

    $('[data-tour]')
        .on('shown.bs.modal',function(ev){
            var $target = $(ev.target);
            pannellum.tour($target.attr('data-first-scene'),JSON.parse($target.attr('data-scenes')),$target.attr('data-renderid'));
        });

</script>
