.jumbotron {
  background: #555 url('../images/shawna-beach.jpg') no-repeat center;
  background-size: cover;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #ccc;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: transparent;
    border-radius: 50%;
    overflow: visible;
    width: 300px;
    height: 150px;
    margin: 0em auto;
     }

.navbar-right {
  margin-right: 0;
}

.logo img {
  width: 227px; 
  display: block;
  margin: 1% auto;
}

.pano-description {
  text-align: center;
}
.pano-description p {
  padding-left: 2em;
}

@media (min-width: 768px) { 
  .pano-description {
    text-align: left;
  }
}

@media (max-width: 640px) { 
  .tele-button {font-size: 4vw;}
}


footer {
  background-color: #222;
  color: #999;
  bottom: 0;
  width: 100%;
  padding: 3em;
  text-align: center;
  margin-top: 3em;
}

.modal-dialog .close {
  position: relative;
  top: -10px;
}

#panorama {
    width: 100%;
    height: 300px;
}

@media (min-height: 400px) { 
  #panorama {
    height: 370px;
  }
}

@media (min-height: 450px) { 
  #panorama {
    height: 425px;
  }
}

@media (min-height: 500px) { 
  #panorama {
    height: 475px;
  }
}

@media (min-height: 550px) { 
  #panorama {
    height: 525px;
  }
}

@media (min-height: 600px) { 
  #panorama {
    height: 575px;
  }
}

@media (min-height: 650px) { 
  #panorama {
    height: 625px;
  }
}

@media (min-height: 768px) { 
  #panorama {
    height: 730px;
  }
}

@media (min-height: 992px) { 
  #panorama {
    height: 960px;
  }
}

@media (min-height: 1200px) { 
  #panorama {
    height: 1100px;
  }
}

