<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    
    <h1>360 Virtual Tours</h1>
    <p>Now available at All Captured in a Flash Photography.</p>
    <a type="button" class="tele-button btn btn-lg btn-default" href="tel:1-814-317-5377"><span class="glyphicon glyphicon-phone-alt"></span> Contact us for your quote today!</a>


  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-sm-6 pano-thumb">  
      <!-- Button trigger modal -->

      <a href="#diamond" 
         
        data-toggle="modal" 
        data-target="#diamond">
          <img src="/images/diamond-500.jpg" 
            alt="Panorama of The Diamond in Hollidaysburg, Pa" 
            class="img-responsive img-thumbnail center-block"
          />
      </a>
    </div>
    <div class="col-sm-6 pano-description">
      <h4><span class="glyphicon glyphicon-map-marker"></span> "The Diamond", Hollidaysburg, Pa</h4>
      <p>"The Diamond" is historic Hollidaysburg’s central business district.  It is the heart of the community for parades, events and other happenings. </p>
    </div>
  </div> <!-- row -->



  <div class="row">
    
    <div class="col-sm-6 pano-thumb">  
      <!-- Button trigger modal -->

      <a href="#living" 
         
        data-toggle="modal" 
        data-target="#living">
          <img src="/images/living-500.jpg" 
            alt="" 
            class="img-responsive img-thumbnail center-block"
          />
      </a>
    </div>
    <div class="col-sm-6 pano-description">
      <h4><span class="glyphicon glyphicon-map-marker"></span> Livingroom/Kitchen, Beach Carousel Motel</h4>
      <p></p>
    </div>
  </div> <!-- row -->


    <div class="row">
    
    <div class="col-sm-6 pano-thumb">  
      <!-- Button trigger modal -->

      <a href="#bath" 
         
        data-toggle="modal" 
        data-target="#bath">
          <img src="/images/bath-500.jpg" 
            alt="" 
            class="img-responsive img-thumbnail center-block"
          />
      </a>
    </div>
    <div class="col-sm-6 pano-description">
      <h4><span class="glyphicon glyphicon-map-marker"></span> Bathroom, Beach Carousel Motel</h4>
      <p></p>
    </div>
  </div> <!-- row -->



    <div class="row">
    
    <div class="col-sm-6 pano-thumb">  
      <!-- Button trigger modal -->

      <a href="#bed" 
         
        data-toggle="modal" 
        data-target="#bed">
          <img src="/images/bed-500.jpg" 
            alt="" 
            class="img-responsive img-thumbnail center-block"
          />
      </a>
    </div>
    <div class="col-sm-6 pano-description">
      <h4><span class="glyphicon glyphicon-map-marker"></span> Bedroom, Beach Carousel Motel</h4>
      <p></p>
    </div>
  </div> <!-- row -->


  <br><br><br><br>
  <!-- 
  
  <div class="alert alert-info text-center" role="alert"> 
    
  </div>-->
</div>

<!-- Modal -->
<div class="modal fade" 
  id="diamond" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="mdiamondLabel"
  data-panorama="/images/diamondwm-4096.jpg">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">"The Diamond", Hollidaysburg, Pa</h4>
      </div>
      -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="panorama" class="embed-responsive embed-responsive-4by3"></div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" 
  id="living" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="mdiamondLabel"
  data-panorama="/images/living-4096.jpg">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="panorama" class="embed-responsive embed-responsive-4by3"></div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" 
  id="bath" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="mdiamondLabel"
  data-panorama="/images/bath-4096.jpg">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="panorama" class="embed-responsive embed-responsive-4by3"></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" 
  id="bed" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="mdiamondLabel"
  data-panorama="/images/bed-4096.jpg">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="panorama" class="embed-responsive embed-responsive-4by3"></div>
      </div>
    </div>
  </div>
</div>




<% include ../partials/footer.ejs %>
</body>
</html>
