<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    
    <h1>360 Virtual Tours</h1>
    <p>Now available at All Captured in a Flash Photography.</p>
    <a type="button" class="btn btn-lg btn-default" href="tel:1-814-317-5377"><span class="glyphicon glyphicon-phone-alt"></span> Contact us for your quote today!</a>


  </div>
</div>
<div class="container-fluid">
    
  
  <div class="row">
    <div class="col-xs-12">
      <h3><span class="glyphicon glyphicon-map-marker"></span> "The Diamond", Hollidaysburg, Pa</h3>
      <div id="panorama" class="embed-responsive embed-responsive-4by3"></div>
    </div>
  </div> <!-- row -->
  <br><br><br>
  <hr>
  <br>
  <!-- 
  
  <div class="alert alert-info text-center" role="alert"> -->
    
  </div>
</div>

<% include ../partials/footer.ejs %>
</body>
</html>
