<!DOCTYPE html>
<html>
<head>

	<title>All Captured in a Flash - Portrait and Wedding Photographers in Altoona, Pa</title>
	<meta name="description" content="Portrait and wedding Photographers in Altoona, Pa.  Servicing State College, Bedford, and surrounding areas. We photograph all types of shoots, events, and occasions:  Wedding, Engagement, Senior, Family, Birthing, Newborn, Boudoir, Parties, Cake Smash, Children, Baptisms, Formals, Proms, Holiday, Vacation, and others.  We love to offer our clients high quality, cost effective photography">

	<meta name="p:domain_verify" content="ed5e69f98d61eaa9add87aed4d3845cd" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="All Captured in a Flash - Portrait and Wedding Photographers in Altoona, Pa" />
	<meta property="og:url" content="http://www.allcapturedinaflash.com" />
	<meta property="og:title" content="All Captured in a Flash - Portrait and Wedding Photographers in Altoona, Pa" />
	<meta property="og:description" content="Portrait and wedding Photographers in Altoona, Pa.  Servicing State College, Pa; Bedford, Pa and surrounding areas.  We photograph all types of shoots, events, and occasions:  Wedding, Engagement, Senior, Family, Birthing, Newborn, Boudoir, Parties, Cake Smash, Children, Baptisms, Formals, Proms, Holiday, Vacation, and others.  We love to offer our clients high quality, cost effective photography" />
	<meta property="og:image" content="" />

	<% include ../partials/header.ejs %>

</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
	<div class="container">
	
		<h1></h1>
		<p></p>
		<a type="button" class="tele-button btn btn-lg btn-default" href="tel:1-814-317-5377"><span class="glyphicon glyphicon-phone-alt"></span>Call Us Now</a>

	</div>
</div>

<div class="container">

	<div class="row">


	</div>
</div>


<% include ../partials/footer.ejs %>
</body>
</html>
